/*-----------  MINI RESET  -----*/


html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button,
input,
select,
textarea {
    margin: 0
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

img,
video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

td:not([align]),
th:not([align]) {
    text-align: left
}

/*-------------VARIABLE --------*/
:root {
    --gray: #f2f2f2;
    --blue: #0065fc;
    --lightBlue: #deebff;

    /*---- POPULAIRE---*/

    --soleil: url("img/populaire/leSoleil-S.jpg");
    --hotelBleu: url("img/populaire/hotelBleu-S.jpg");
    --auCoeur: url("img/populaire/auCoeur-S.jpg");

    /*---- HEBERGEMENT ---*/


    --cannebiere: url("img/hebergement/hotelCannebiere-S.jpg");
    --hotelDuPort: url("img/hebergement/hotelDuPort-S.jpg");
    --hotelLesMouettes: url("img/hebergement/hotelLesMouettes-S.jpg");
    --hotelDeLaMer: url("img/hebergement/hotelDeLaMer-S.jpg");
    --hotelLePanier: url("img/hebergement/hotelLePanier-S.jpg");
    --HotelAmina: url("img/hebergement/hotelAmina-S.jpg");

    /*---- ACTIVITE --*/

    --dameDeLaGarde: url("img/activite/dameDeLaGarde-S.jpg");
    --fortDePomegues: url("img/activite/fortDePomegues-S.jpg");
    --ileDeFrioul: url("img/activite/ileDeFrioul-S.jpg");
    --parcCalanques: url("img/activite/parcCalanques-S.jpg");
    --parcLongchamp: url("img/activite/ParcLongchamp-S.jpg");
    --vieuxPort: url("img/activite/vieuxPort-S.jpg");



}

/*------------  TAGS  ---------*/


* {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
}

header {
    margin-top: 145px;
    padding: 5.5%;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.4em;
    font-weight: 700
}

h2 {
    font-size: 1.4em;
    font-weight: 600;
}



strong {
    font-weight: 600;

}

/* -----------  TOP BAR  -------*/


.titreHiden {
    display: none;
}

.topBar ul {
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: wrap;
    z-index: 10;
    width: 100%;
    background: white;
    padding-top: 25px
}

li {
    padding: 18px 0;
}

.topBarLogo {
    position: relative;
    bottom: 15px;
    padding-left: 20px;
    width: 50%;
    color: var(--blue);
}

.logo {
    position: absolute;
    left: 25px;
}

.topBarInscrire {
    padding-right: 20px;
    width: 50%;
    text-align: right;
    color: var(--blue);
}

.topBarHebergement {
    width: 50%;
    text-align: center;
    border-bottom: solid 3px var(--blue);
    color: var(--blue);

}

.topBarActivite {
    width: 50%;
    text-align: center;
}

.topBarLogo,
.topBarInscrire a {
    font-weight: bold;
}

/* -----------  HEADER  --------*/



header p {
    padding-top: 15px;
}

.bouttonRecherche {
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    margin-top: 35px;
    border: solid 1px var(--gray);
    max-width: 329px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;

}

.recherchePosition {
    position: relative;
    z-index: 2;
    width: 50px;
    text-align: center;
    background: var(--gray);
    border-radius: 10px 0 0 10px;
}

.RechercheIconePosition {
    transform: scale(1.2)
}

.rechercheAction {
    position: relative;
    z-index: 2;
    width: 50px;
    background: var(--blue);
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.loupe {
    color: white;
}

.RechercheSaisie {
    padding-left: 10px;
    display: block;
    width: 227px;
    border: none;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}

.RechercheSaisie:focus {
    outline: 0;
}

/*-------- HEADER BOUTTON FILTRE  -----*/


.filtreWrapper h3 {
    margin-top: 35px;
    font-weight: 700;
    font-size: 1.2em
}

.boutonFiltre {
    box-sizing: content-box;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    border: solid 3px #f2f2f2;
    border-left: none;
    border-radius: 50px;
    margin-top: 15px;
    margin-right: 5px
}


.boutonFiltre:hover {
    background: var(--gray);
    border-left: none;
    font-weight: 400;
    transform: scale(1.05)
}

.bouttonFiltreCol1 {
    position: relative;
    bottom: 3px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #deebff;
    text-align: center;
    border-radius: 25px;
}

.bouttonFiltreIcone {
    position: relative;
    top: 3px;
    transform: scale(1.3);
    color: #0065fc
}

.BouttonFiltreText {
    padding-left: 5px;
    padding-right: 12px;
    font-weight: 600;
}

/*--------  HEADER BOUTTON INFO  -----*/


.wrapperfFiltreInfo {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 20px
}

.bigBoxIcone {
    width: 50px;

}

.boxInfoIcone {
    display: block;
    width: 25px;
    height: 25px;
    border: solid 1px var(--gray);
    border-radius: 50%;
}

.infoIcone {
    position: relative;
    top: 0;
    left: 50%;
    transform: scale(0.75) translateX(-50%);
    color: var(--blue)
}

/*------------ POPULAIRE ---------*/



.wrapperPopulaire {
    background: var(--gray);
    padding-bottom: 20px;
    padding: 0 5.5%;
    padding-bottom: 25px
}

.wrapperPopulaire h2 {
    position: relative;
    padding: 30px 0px
}

.wrapperPopulaire h2::after {

    position: absolute;
    width: 25px;
    top: 30px;
    right: 0;
    content: url("img/incone/chart1.svg");
}

/*---- CARD POLULAIRE  ---*/



.populaireCard {
    display: flex;
    width: 100%;
    max-width: 350px;
    padding: 5px;
    margin-bottom: 10px;

    background: white;

    border-radius: 25px
}

.imageLeSoleil {
    background: var(--soleil)
}

.imageAuCoeur {
    background: var(--auCoeur)
}

.imageHotelBleu {
    background: var(--hotelBleu)
}

.populaireCardCol1 {
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    border-radius: 20px 0 0 20px;
}

.populaireCardCol2 {


    padding: 10px 13px;
    height: 100%;
}

.populaireCard p {
    margin-top: 5px;
    font-size: 14px
}

.populaireCard h4 {
    font-weight: 700
}

.populaireCardEtoile {
    margin-top: 30px
}

.etoilePleine {
    color: var(--blue);
    font-size: 0.7em;
    padding: 0;
    margin: 0;
}

.etoileVide {
    color: var(--gray);
    font-size: 0.7em;
    padding: 0;
    margin: 0;
}

/*--------- HEBERGEMENT ---------*/

.hebergementWrapper h2 {
    margin-top: 38px;
    padding-bottom: 15px
}

.hebergementWrapper {
    width: 100%;
    padding: 0 5.5%
}

.hebergementCard {
    display: block;
    width: 100%;
    max-width: 350px;
    padding: 5px;
    margin-bottom: 12px;

    border: solid 1px #f2f2f2;
    border-radius: 20px;
    box-shadow: 0px 0px 15px #f2f2f2
}

.imageCannebiere {
    background: var(--cannebiere)
}

.imageHotelDuPort {
    background: var(--hotelDuPort)
}

.imageHotelLesMouettes {
    background: var(--hotelLesMouettes)
}

.imageHotelDeLaMer {
    background: var(--hotelDeLaMer)
}

.imageHotelLePanier {
    background: var(--hotelLePanier)
}

.imageHotelAmina {
    background: var(--HotelAmina)
}

.hebergementWrapperImage {
    width: 100%;
    height: 115px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    border-radius: 15px 15px 0 0;
}

.hebergementCardCaption {
    padding-left: 15px;
    background: white;
    border-radius: 20px;
}

.hebergementWrapper h4 {
    padding-top: 7px;
    font-weight: 700
}

.hebergementWrapper p {
    padding: 3px 0;
    font-size: 0.9em
}

.afficherPlus {
    font-weight: 700;
    font-size: 1.2em;
    padding: 15px 0;
}

/*--------- ACTIVITE ---------*/

.activiteWrapper {
    width: 100%;
    padding: 0 5.5%
}

.activiteWrapper h2 {
    padding: 30px 0;
}

.activiteCard {
    display: block;
    width: 100%;
    max-width: 350px;
    margin-bottom: 20px;


    border-radius: 20px;
    box-shadow: 0px 0px 15px #f2f2f2
}

.imageDameDeLaGarde {
    background: var(--dameDeLaGarde);
}

.imageFortDePomegues {
    background: var(--fortDePomegues);
    background-position: center;
}

.imageIleDeFrioul {
    background: var(--ileDeFrioul);
    background-position: center;
}

.imageParcCalanques {
    background: var(--parcCalanques);
    background-position: center;
}

.imageParcLongchamp {
    background: var(--parcLongchamp);
    background-position: center;
}

.imageVieuxPort {
    background: var(--vieuxPort);
    background-position: top center;

}

.activiteWrapperImage {
    width: 100%;
    height: 134px;

    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 15px 15px 0 0;
}

.activiteCaption {
    font-weight: 700;
    padding: 20px 0;
     padding-left: 20px;
    font-size: 1.1em;
}

/*-------  FOOTER  -------*/

footer {
    width: 100%;
    margin-top: 45px;
    background: var(--gray);
        padding: 0 5.5%;
        padding-bottom: 30px;


}

.footerCol {
    padding-top: 35px;
   
}

.footerWrapperCols {

}

.footerWrapperCols a {
    display: inline-block;
    padding: 8px 0;

}

.footerWrapperCols h2 {
    padding-bottom: 10px;
    font-size: 1.2em;
}

/* -----   MEDIA QUERIES ----- */


@media only screen and (min-width : 600px) {

   
    
    .wrapperPopulaire{
  
     
        padding: 0 5.5%;
        padding-bottom: 30px;
        border-radius: 20px;
    }
    
    .populaireWrapperCard{
      display: flex;
        justify-content: space-around
    }

    .populaireCard {
        display: block;
        position: relative;
        min-width: 180px;
        max-width: 300px;
        margin: 5px;
       
    }

    .populaireCardCol1 {
        height: 100px;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: local;
        border-radius: 20px 20px 0 0;
    }
    .populaireCardCol2 p{
        padding-bottom: 20px
    }
    .populaireCardEtoile{
            position: absolute;
        bottom: 10px;
    }
    
       
    /* HEBERGEMENT*/
    
    .wrapperHebergementCard{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        flex-flow: wrap;
        
    }
    .hebergementCard{
        position: relative;
        margin:  5px;
        margin-bottom: 20px;
        min-width: 250px;
        max-width: 25%;
        background: white;
    }
    
    .hebergementCardEtoile{
        padding-bottom: 10px;
        position: absolute;
        bottom: 0;
    }
    .hebergementCardCaption p{
        padding-bottom: 30px;
    }
    
    
    /* ACTIVITE */
    
    .activiteWrapperCard{
        display: flex;
        flex-flow: wrap;
        justify-content: space-around;
    }
    .activiteWrapperCard h2{
        margin-top: 30px;
    }
    
    
    .activiteCard{
        margin: 5px;
        margin-bottom: 20px;
         min-width: 250px;
        max-width: 25%;
    }
   
    
    /* --------- FOOTER  ----------*/
    
    .footerWrapperCols{
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
    }
    .footerCol{ 
        width: 30%;
        padding: 0 10px;
        padding-top: 30px; 
    }
    
}

@media only screen and (min-width : 1350px){
    
    /*-----TOP BAR ----*/
    
    ul li:first-child{
        flex-grow: 3;
        margin-left: 3.5%;
            
    }
    .topBarInscrire{
        order: 4;
        padding-right: 75px;
    }
    .topBar li {
        width: auto;
        padding-left: 60px;
    }
    .topBarHebergement{
        border: none
    }
    
    /*------   HEADER -----*/
    
    header {
    margin-top: 60px;
        padding-bottom: 20px
        
    }
    .filtreWrapper{
        padding-top: 20px;
            padding-bottom: 0px;
                margin-bottom: 0px;
    }
    .filtreWrapper h3 {
        display: inline-block;
        padding-right: 20px
    }
    
    /* ----- MAIN------*/
    
    
    main{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding:0 5.5%;
    }
    
    
    .wrapperPopulaire{
        width: 30%; 
        order: 2;  
        padding: 20px;
    }
    
    .populaireWrapperCard{
        flex-flow: row wrap;   
        justify-content: flex-start;   
    }
    
    .populaireCard{
        display: flex;
        min-width: 100%; 
        height: 140px;
        padding: 0;
        margin: 10px 0;
    }
    
    .populaireCardCol1{
        height: 100%;
        width: 40%;
        border-radius: 20px 0px 0px 20px;
    }
    .populaireCardCol2{
        padding: 15px 10px;
        width: 60%;
    } 
    
    .hebergementWrapper{
        order: 1;
        justify-content: space-around;
        width: calc( 100% - 33% );
        padding: 0;
        background: var(--gray);
        border-radius: 0px;
        border-radius: 20px;
    }
    .hebergementCard{
        width: 250px;
    }
    .wrapperHebergementCard{
        justify-content: space-around
    }
    .activiteWrapper{
        order: 3;
        width: 100%;
        border-radius: 20px;
    }
    
    
    /* ----- ACTIVITE -----*/
    .activiteWrapper{
        margin: 0;
        padding: 0;
    }
    .activiteWrapperCard{
        height: 450px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }
    .port, .calanques{
        height: 100%;
    }
    
    .activiteCard{
        width: 300px;
    }
    
    .imageVieuxPort, .imageParcCalanques  {
        height: 85%;
    }
    .imageIleDeFrioul{
        height: 100px;
    }
    .imageFortDePomegues{
        height: 170px;
    }
    .imageParcLongchamp{
        height: 150px;
    }
    .imageDameDeLaGarde{
        height: 120px;
    }
    
    .hebergementWrapper h2, .afficherPlus {
        padding-left: 5px
    }
    
}







