html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal
}

ul {
    list-style: none
}

button,
input,
select,
textarea {
    margin: 0
}

html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

img,
video {
    height: auto;
    max-width: 100%
}

iframe {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

td:not([align]),
th:not([align]) {
    text-align: left
}

/*-------------VARIABLE ----------------*/
:root {
    --gray: #f2f2f2;
    --blue: #0065fc;
    --lightBlue: #deebff;

    --soleil: url("img/Hebergement/leSoleil-S.jpg");
    --hotelBleu: url("img/Hebergement/hotelBleu-S.jpg");
    --auCoeur: url("img/Hebergement/auCoeur-S.jpg");
}



/*------------  TAGS  ---------*/

* {
    font-family: Raleway;
    font-weight: 400;
    font-size: 16px;
}

header {
    margin-top: 145px;
    padding: 5.5%;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 1.4em;
    font-weight: 700
}

h2 {
    font-size: 1.4em;
    font-weight: 600;
}

p {
    margin: 15px 0;
}

strong: {
    color: bold
}

/* ----------------   TOP BAR  ---------------------*/


.topBar ul {
    position: fixed;
    top: 0;
    display: flex;
    flex-flow: wrap;
    z-index: 10;
    width: 100%;
    background: white;
    padding-top: 25px
}

li {
    padding: 18px 0;
}

.topBarLogo {
    padding-left: 20px;
    width: 50%;
    color: var(--blue);
}

.logo {
    position: absolute;
    left: 25px;
}

.topBarInscrire {
    padding-right: 20px;
    width: 50%;
    text-align: right;
    color: var(--blue);
}

.topBarHebergement {
    width: 50%;
    text-align: center;
    border-bottom: solid 3px var(--blue);
    color: var(--blue);

}

.topBarActivite {
    width: 50%;
    text-align: center;
}

.topBarLogo,
.topBarInscrire a {
    font-weight: bold;
}

/* ----------------   HEADER  ---------------------*/


.bouttonRecherche {
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    margin-top: 35px;
    border: solid 1px var(--gray);
    max-width: 329px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;

}

.recherchePosition {
    position: relative;
    z-index: 2;
    width: 50px;
    text-align: center;
    background: var(--gray);
    border-radius: 10px 0 0 10px;
}

.iconePosition {
    transform: scale(1.2)
}

.rechercheAction {
    position: relative;
    z-index: 2;
    width: 50px;
    background: var(--blue);
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.loupe {
    color: white;
}

.RechercheSaisie {
    padding-left: 10px;
    display: block;
    width: 227px;
    border: none;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}

.RechercheSaisie:focus {
    outline: 0;
}


/*-------- HEADER BOUTTON FILTRE  -----*/


.filtreWrapper h3 {
    margin-top: 35px;
    margin-bottom: px;
    font-weight: 700;
    font-size: 1.2em
}

.boutonFiltre {
    box-sizing: content-box;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    border: solid 3px #f2f2f2;
    border-left: none;
    border-radius: 50px;
    margin-top: 15px;
    margin-right: 10px
}


.boutonFiltre:hover {
    background: var(--gray);
    border-left: none;
    font-weight: 400;
    transform: scale(1.05)
}

.bouttonFiltreCol1 {
    position: relative;
    bottom: 3px;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #deebff;
    text-align: center;
    border-radius: 25px;
}

.bouttonFiltreIcone {
    position: relative;
    top: 3px;
    transform: scale(1.3);
    color: #0065fc
}

.BouttonFiltreText {
    padding: 0 10px;
    font-weight: 700;
}

/*--------  HEADER BOUTTON INFO  -----*/


.wrapperfFiltreInfo {
    display: flex;
    align-items: stretch;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 20px
}

.bigBoxIcone {
    width: 50px;

}

.boxInfoIcone {
    display: block;
    width: 25px;
    height: 25px;
    border: solid 1px var(--gray);
    border-radius: 50%;
}

.infoIcone {
    position: relative;
    top: 0;
    left: 50%;
    transform: scale(0.75) translateX(-50%);
    color: var(--blue)
}


/*--------- POPULAIRE ---------*/


.wrapperPopulaire {
    background: var(--gray);
    padding-bottom: 20px;

}

.wrapperAside {
    padding: 0 5.5%
}

.populaireIcone {
    position: relative;
    top: 8px;
    right: 3px;
    transform: scale(1.5);
}

.populaireTitre {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 25px
}

.populaireCard {
    display: flex;
    width: 100%;
    max-width: 350px;
    height: 145px;
    padding: 5px;
    margin-bottom: 10px;

    background: white;

    border-radius: 25px
}

.imageLeSoleil {
    background: var(--soleil)
}

.imageAuCoeur {
    background: var(--auCoeur)
}

.imageHotelBleu {
    background: var(--hotelBleu)
}

.populaireCardCol1 {
    height: 100%;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
    border-radius: 25px 0 0 25px;
}

.populaireCardCol2 {

    padding: 10px 13px;
    padding-right: ;
    height: 100%;
}

.populaireCard p {
    margin-top: 2px;
    font-size: 14px
}

.populaireCard h4 {
    font-weight: 700
}

.populaireCardEtoile {
    position: relative;
    top: 25px;
}

.etoilePleine {
    color: var(--blue);
    font-size: 0.7em;
    padding: 0;
    margin: 0;

}

/*--------- HEBERGEMENT ---------*/

.hebergement h2 {
    margin-top: 38px
}













